<div class="auth-backdrop">
  <div class="auth-form-container">
    <form class="auth-form" data-id="auth-form">
      <label class="auth-form-fild">
        <input
          class="auth-form-input"
          type="email"
          placeholder="mail"
          name="mail"
          data-id="auth-form-mail"
        />
      </label>
      <label class="auth-form-fild">
        <input
          class="auth-form-input"
          type="password"
          placeholder="Password"
          data-id="auth-form-password"
          name="password"
        />
      </label>
      <button
        class="auth-form-btn register"
        name="register"
        type="submit"
        data-id="register"
      >
        register
      </button>
      <button
        class="auth-form-btn sign-in"
        name="signIn"
        type="submit"
        data-id="signIn"
      >
        sign in
      </button>
    </form>
  </div>
</div>
