<div class="auth-backdrop">
  <div class="auth-form-container">
    <button
      class="auth-form-btn-close"
      aria-label="Authentication form closing button"
    >
      <svg class="auth-form-close-icon" width="22" height="22">
        <use href="images/symbol-defs.svg#cross"></use>
      </svg>
    </button>

    <form class="auth-form" data-id="auth-form">
      <label class="auth-form-fild">
        <input
          class="auth-form-input auth-form-mail"
          type="email"
          placeholder="E-mail"
          name="mail"
          data-id="auth-form-mail"
        />
      </label>
      <label class="auth-form-fild">
        <input
          class="auth-form-input auth-form-password"
          type="password"
          placeholder="Password"
          data-id="auth-form-password"
          name="password"
        />
      </label>
      <button
        class="auth-form-btn register"
        name="register"
        type="submit"
        data-id="register"
      >
        Registration
      </button>
      <button
        class="auth-form-btn sign-in"
        name="signIn"
        type="submit"
        data-id="signIn"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
