<header class="header home-header-bg container">
  <div class="header-container">
    <div class="naw-wrapper">
      <a class="logo-link" href=""
        ><img
          class="logo-icon"
          src="images/header/logo-icon.svg"
          width="24"
          height="24"
          alt="logo icon"
      /></a>

      <ul class="naw-list">
        <li class="naw-list-item">
          <a class="naw-list-link current" href="" data-name="Home">Home</a>
        </li>
        <li class="naw-list-item">
          <a class="naw-list-link library" href="" data-name="library"
            >my library</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- <div class="header-btn-list">
  <button type="button" data-name="Watched">Watched</button>
  <button type="button" data-name="queue">queue</button>
</div> -->
