<header class="header home-header-bg">
  <div class="header-container container">
    <div class="naw-wrapper">
      <a class="logo-link" href="index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href=" images/symbol-defs.svg#logo-icon"></use>
        </svg>
      </a>
      <div class="naw-list-container">
        <ul class="naw-list">
          <li class="naw-list-item">
            <a class="naw-list-link current" href="index.html" data-name="Home"
              >Home</a
            >
          </li>
          <li class="naw-list-item">
            <a
              class="naw-list-link library"
              href="index.html"
              data-name="library"
              >my library</a
            >
          </li>
        </ul>
        <button
          class="logout-btn is-hidden-logout"
          type="button"
          data-id=" log-out"
        >
          log Out
        </button>
      </div>

      <!-- <button class="logout-btn is-hidden-logout">log out</button> -->
    </div>
  </div>
</header>
<!-- <div class="header-btn-list">
  <button type="button" data-name="Watched">Watched</button>
  <button type="button" data-name="queue">queue</button>
</div> -->
