<header class="header">
  <!-- <div class="header-container container">
    <div class="naw-wrapper">
      <img
        class="logo-icon"
        src="images/logo-icon.svg"
        width="24"
        height="24"
        alt="logo icon"
      />
      <ul class="naw-list">
        <li class="naw-list-item"><a class="naw-list-link" href="">Home</a></li>
        <li class="naw-list-item">
          <a class="naw-list-link" href="">my library</a>
        </li>
      </ul>
    </div>

    <form class="contact-form">
      <label class="contact-form__field">
        <input class="contact-form__input" type="text" name="name" />
      </label>
      <button class="modal-btn-create-bank" type="submit">Створити</button>
    </form>
  </div> -->
</header>
