<section class="movies-gallery">
  <div class="container">
    <ul class="movies-gallery__list">
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
      <li class="movies-gallery__item">
        <div class="movies-gallery__img">
          <img
            src="./images/greyhound.jpg"
            alt="greyhound"
            loading="lazy"
            width="395"
          />
        </div>
        <div class="movies-gallery__text">
          <p class="movies-gallery__title">GREYHOUND</p>
          <p class="movies-gallery__genre">
            Drama, Action | 2020 <span class="movies-gallery__rating">8.0</span>
          </p>
        </div>
      </li>
    </ul>
    <!-- Pagination -->
    <!-- Page Up Button -->
  </div>
</section>
