<section class="movies-gallery">
  <div class="container">
    <h2 class="visually-hidden">Filmoteka</h2>
    <div class="filter-btn">
      <ul class="filter-btn-list">
        <li class="filter-btn-item">
          <button
            type="button"
            class="filter button-filter trending-btn btn-tab-active"
            data-action="trending"
          >
            TRENDING
          </button>
        </li>
        <li class="filter-btn-item">
          <button
            type="button"
            class="filter button-filter tv-btn"
            data-action="tv"
          >
            TV SHOW
          </button>
        </li>
        <li class="filter-btn-item">
          <button
            type="button"
            class="filter button-filter top-rated-btn"
            data-action="top rated"
          >
            TOP RATED
          </button>
        </li>
        <li class="filter-btn-item">
          <button
            type="button"
            class="filter button-filter upcoming-btn"
            data-action="upcoming"
          >
            UPCOMING
          </button>
        </li>
      </ul>
    </div>
    <ul class="movies-gallery__list"></ul>
  </div>
</section>
