<!-- Modal -->
<div class="container backdrop-team backdrop-team--is-hidden">
    <div class="modal-team">
      <button type="button" class="modal-team__close-btn">
        <svg class="modal-team__close-icon" width="30" height="30">
          <use href="./././images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <div class="team-title-wrapper">
        <span class="team-logo"></span>
        <h1 class="team__name">Eat() Sleep() Code() Repeat()</h1>
      </div>
      <ul class="team">
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Kateryna.jpg"
              alt="Kateryna Prasolova image"
              loading="lazy"
            />
          </div>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/nadtosonna"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Kateryna Prasolova</p>
            <p class="team__role">Team Lead</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Anna.jpg"
              alt="Anna Kasianenko image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/1Anka1"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Anna Kasianenko</p>
            <p class="team__role">Scrum</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <!-- <img
              class="team__img"
              src="./images/team/Yurii.jpg"
              alt="Yurii Chudinovych image"
              loading="lazy"
            /> -->
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/yuriichudinovych"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Yurii Chudinovych</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Taras.jpg"
              alt="Taras Perchyk image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Sarat862"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Taras Perchyk</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Daria.jpg"
              alt="Daria Kelesh image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/DariaKelesh"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Daria Kelesh</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <!-- <img
              class="team__img"
              src="./images/team/Elena.jpg"
              alt="Elena Holovina image"
              loading="lazy"
            /> -->
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Elena-Holz"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Elena Holovina</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <!-- <img
              class="team__img"
              src="./images/team/Nikita.jpg"
              alt="Nikita Kovpak image"
              loading="lazy"
            /> -->
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/nikstyles"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Nikita Kovpak</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <!-- <img
              class="team__img"
              src="./images/team/Ivan.jpg"
              alt="Ivan Shvayka image"
              loading="lazy"
            /> -->
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/barmaglot91"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Ivan Shvayka</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Igor.jpg"
              alt="Igor Ropan image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ROPAN1991"
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href="./././images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member">Igor Ropan</p>
            <p class="team__role">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>