.header {
  height: 230px;
}

.home-header-bg {
  @media (min-dvice-pixel-retio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    background-image: linear-gradient(
        to right,
        rgba(#000000, 0.4),
        rgba(#000000, 0.4)
      ),
      url(../images/header/header-bg/home-header-bg-mobile.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(#000000, 0.4),
        rgba(#000000, 0.4)
      ),
      url(../images/header/header-bg/home-header-bg-mobile@2x.jpg);
  }

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.library-header-bg {
  background-color: rgb(85, 31, 31);
}

.header-container {
  padding-top: 40px;
}

.naw-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.naw-list {
  display: flex;
}

.naw-list-item:not(:last-child) {
  margin-right: 40px;
}
.naw-list-link {
  color: white;
  cursor: pointer;
}

.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: red;
}

.search-form {
  margin-top: 54px;
  position: relative;
}

// .search-form__field {
// }

.search-form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-bottom: 4px;
  border-bottom: 0.5px solid white;
  color: white;
  outline: none;
}
.search-form__input:hover,
.search-form__input:focus {
  border-color: red;
  border-width: 1px;
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}

.header-btn-list {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.header-btn {
  display: block;
  text-align: center;
  width: calc((100% - 30px) / 2);
  border: 1px solid white;
  padding-bottom: 12px;
  padding-top: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.header-btn:hover {
  border-color: #ff6b01;
  color: #ff6b01;
}
