.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  // overflow-y: scroll;
  z-index: 10;
  transition: opacity 700ms cubic-bezier(0, 0.48, 0.29, 0.94),
    visibility 700ms cubic-bezier(0, 0.48, 0.29, 0.94),
    scale 500ms cubic-bezier(0, 0.48, 0.29, 0.94);
}

.backdrop-modal-hidden {
  transform: scale(80%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  z-index: 8;
  opacity: 1;

  background: var(--primary-color-white);

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .movies-gallery__title {
    text-transform: uppercase;
  }

  .modal-list__library {
    flex-grow: 2;
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: auto;
    padding: 48px 20px 40px 20px;

    top: 15px;
    bottom: 15px;
    left: 50%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(-50%, 0%);
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    padding-top: 40px;
    padding-bottom: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding: 40px 20px;
  }
}

.modal-contaner {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.modal-close {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  // background-color: aqua;
  transform: rotate(-90deg);

  @media screen and (max-width: 767px) {
    right: 8px;
    top: 8px;
  }

  @media screen and (min-width: 768px) {
    right: 8px;
    top: 8px;
  }

  @media screen and (min-width: 1280px) {
    right: 8px;
    top: 8px;
  }
}

.modal-close__icon,
.modal-btn__icon {
  fill: var(--text-color-black);
}

.modal-img {
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
  }

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.modal-block__text {
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16px;
  }
}

.modal-title {
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    @include font(20px, 500, 23px);
  }

  @media screen and (min-width: 768px) {
    @include font(20px, 500, 23px);
  }

  @media screen and (min-width: 1280px) {
    @include font(30px, 500, 35px);
  }
}

.modal-list__key {
  display: flex;
}

.modal-info {
  // flex-grow: 1;
  flex-basis: 150px;
  // font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  @include breakpoints(desktop) {
    font-size: 14px;
  }
}

.modal-info:not(:last-child) {
  margin-bottom: 8px;
}

.modal-info:last-child {
  margin-bottom: 10px;
}

.modal-info__vote {
  padding: 1px 10px;
  margin-right: 5px;

  color: var(--primary-color-white);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.modal-info__votes {
  padding: 1px 10px;
  margin-left: 3px;

  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-list__library {
  flex-grow: 2;
  display: inline-block;
  margin-left: 85px;
}

.modal-info__library {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: #000000;
}

.modal-info__library:not(:last-child) {
  margin-bottom: 8px;
}

.modal-info__library:last-child {
  margin-bottom: 10px;
}

.modal-text__title {
  @include font(14px, 500, 20px);
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

.modal-text__review {
  @include font(14px, 500, 24px);
}

.modal-text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--text-color-black);
  @include breakpoints(desktop) {
    font-size: 14px;
  }
}

.modal-block__btn {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
  }
}

.modal-btn__addwatch,
.modal-btn__addqueue {
  min-height: 44px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  border: 1px solid;
  color: var(--text-color-black);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 12px 16px 0 rgba(220, 119, 12, 0.617),
      0 17px 50px 0 rgba(216, 111, 6, 0.622);
  }

  @media screen and (max-width: 767px) {
    width: 120px;
    // display: inline-block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;

    width: 130px;
    padding: 12px 8px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;
    width: 136px;
    padding: 12px 10px;
  }
}

// .modal-btn__addqueue {
//     position: absolute;
// }

.modal-btn__addwatch {
  @media screen and (max-width: 767px) {
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}

.modal-btn__accent {
  border: 1px solid var(--accent-color);
  color: var(--primary-color-white);
  background: var(--accent-color);
  // margin-top: 20px;
  width: 120px;
  @media screen and (min-width: 768px) {
    width: 165px;
  }
}
.modal-btn {
  color: var(--text-color-black);
}
