.movies-gallery {
  padding-bottom: 40px;
  padding-top: 20px;

  @include breakpoints(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include breakpoints(desktop) {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    @include breakpoints(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
    }
    @include breakpoints(desktop) {
    }
  }

  &__item {
    margin-bottom: 20px;
    transition: transform 0.5s linear;

    border-radius: 5px;
    @include breakpoints(tablet) {
      contain: content;
      width: calc(100% / 2 - 32px);
      margin-bottom: 32px;
      margin-left: 32px;
    }
    @include breakpoints(desktop) {
      width: calc(100% / 3 - 16px);
      margin: 16px 0;
      margin-left: 15px;
    }
    &:hover,
    &:focus {
      box-shadow: 2px 7px 27px -5px var(--accent-color);
      transform: scale(1.012);
    }

    &:hover .movies-gallery__text,
    &:focus .movies-gallery__text {
      transform: translate(10px, -10%);
    }
  }

  &__img {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    // height: 480px;
    @include breakpoints(tablet) {
      height: 480px;
    }
    @include breakpoints(desktop) {
      margin-bottom: 12px;
      height: 583px;
    }
  }

  &__img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.55s;
  }

  &__text {
    font-family: Roboto, sans-serif;
    // transition: translate 10s linear;

    @include font(12px, 500, 16px);

    @include breakpoints(desktop) {
      @include font(20px, 500, 26px);
    }
  }

  &__title {
    color: var(--text-color-black);
  }

  &__genre {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;

    color: var(--accent-color);
  }
  &__rating {
    padding: 1px 10px;

    color: var(--primary-color-white);
    background-color: var(--accent-color);
    border-radius: 5px;
  }
}
