.movies-gallery {
  padding-bottom: 40px;
  padding-top: 20px;

  @include breakpoints(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include breakpoints(desktop) {
    margin-left: -16px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    @include breakpoints(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
    }
    @include breakpoints(desktop) {
    }
  }

  &__item {
    margin-bottom: 20px;
    transition: transform 0.5s linear;

    border-radius: 5px;
    @include breakpoints(tablet) {
      contain: content;
      max-width: 320px;
      margin-bottom: 32px;
      margin-left: 32px;
    }
    @include breakpoints(desktop) {
      max-width: 390px;
      margin: 16px 0;
      margin-left: 15px;
    }
    &:hover,
    &:focus {
      box-shadow: 2px 7px 27px -5px var(--accent-color);
      transform: scale(1.012);
    }

    &:hover .movies-gallery__text,
    &:focus .movies-gallery__text {
      transform: translate(10px, -10%);
    }
  }

  &__img {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    // height: 480px;
    @include breakpoints(tablet) {
      height: 480px;
    }
    @include breakpoints(desktop) {
      margin-bottom: 12px;
      height: 583px;
    }
  }

  &__img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.55s;
  }

  &__text {
    font-family: Roboto, sans-serif;
    // transition: translate 10s linear;

    @include font(12px, 500, 16px);

    @include breakpoints(desktop) {
      @include font(20px, 500, 26px);
    }
  }

  &__title {
    color: var(--text-color-black);
  }

  &__genre {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;

    color: var(--accent-color);
  }
  &__rating {
    padding: 1px 10px;

    color: var(--primary-color-white);
    background-color: var(--accent-color);
    border-radius: 5px;
  }
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -20px;

  @include breakpoints(tablet) {
    margin-bottom: 20px;
  }
}
.filter-btn-list {
  display: flex;
}
.filter-btn-item {
  margin-left: auto;
  margin-right: auto;
}

// .filter-btn-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//   grid-gap: 25px;

//   @include breakpoints(tablet) {
//     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//     grid-gap: 60px;
//   }

//   @include breakpoints(desktop) {
//     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//   }
// }

.button-filter {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 65px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 4px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--text-color-grey);
  font-weight: 500;
  cursor: pointer;

  &:hover,
  :active {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background-color: var(--accent-color);
    color: var(--primary-color-white);
  }

  @include breakpoints(tablet) {
    min-width: 160px;
  }
}

.btn-tab-active {
  opacity: 0.7;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  transform: scale(1.05);
  box-shadow: none;
}

// .filter-input {
//   height: 40px;
//   text-transform: uppercase;
//   text-align: center;
//   border: 1px solid var(--accent-color);
//   border-radius: 5px;
//   color: var(--text-color-grey);
//   font-weight: 500;
//   cursor: pointer;
// }
