.stt {
    scroll-behavior: smooth;
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  

    border-radius: 15%;
    border: 1px solid var(--accent-color);
    background-color: var(--primary-color-white);
    color: var(--accent-color);
    font-size: 27px;
    transition: background-color 0.5s linear;

  }

  .stt__active {
    visibility: visible;
    opacity: 1;
  }

.stt:hover {
      border: 1px solid var(--primary-color-white);
      background-color: var(--accent-color);
      color: var(--primary-color-white);
      box-shadow: 0px 0px 50px 4px rgba(245, 132, 47, 0.67);
}


  .btnUpText {
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
  